/*** tweet content scrollbar styles ***/
.scrollbar {
    position: relative;
    overflow-y: scroll;
    height: 200px; }

.scrollbar-blue-grey::-webkit-scrollbar {
    width: 12px;
    background-color: #cfd8dc;
}

.scrollbar-blue-grey::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #cfd8dc  ;
    border-radius: 10px;
}
.scrollbar-blue-grey::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #90a4ae ;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}
/*** *** ***/

body {
    overflow: hidden;
}

.btn {
    box-shadow: none !important;
    border-radius: 0 !important;
}

/*** sidebar styles ***/

#sidebar {
    display: flex;
    flex-direction: column;
}

#tweet-content {
    flex: 1;
    background-color: #eceff1;
}

#sidebar-title {
    color: #78909c;
    border-left: 2px solid #78909c;
    border-radius: 0 !important;

    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#live-btn {
    height: 100%;
    /*text-decoration: line-through !important;*/
}

#tweet-content {
    box-shadow: none !important;
    position: relative;
    overflow-y: scroll;

    border-left: 2px solid #78909c;
    border-radius: 0 !important;
}

#options-button {
    width: 100%;
}

#options-menu {
    width: 100%;
    bottom: 0;

    border-left: 2px solid #78909c;
    border-radius: 0 !important;
}


/*** *** ***/

/* map styles */
#map {
    height: 100vh;
}