/*** tweet content scrollbar styles ***/
.scrollbar {
    position: relative;
    overflow-y: scroll;
    height: 200px; }

.scrollbar-blue-grey::-webkit-scrollbar {
    width: 12px;
    background-color: #cfd8dc;
}

.scrollbar-blue-grey::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #cfd8dc  ;
    border-radius: 10px;
}
.scrollbar-blue-grey::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #90a4ae ;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}
/*** *** ***/

body {
    overflow: hidden;
}

#sidebar .btn {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.card {
    box-shadow: none !important;
    border-radius: 0 !important;
}

/*** sidebar styles ***/

#sidebar {
    display: flex;
    flex-direction: column;
}

#tweet-content {
    flex: 1;
    background-color: #eceff1;
}

#sidebar-title {
    color: #78909c;
    /*border-left: 2px solid #78909c;*/
    border-radius: 0 !important;

    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#live-btn {
    height: 100%;
}

#tweet-content {
    box-shadow: none !important;
    position: relative;
    overflow-y: scroll;

    /*border-left: 2px solid #78909c;*/
    border-radius: 0 !important;
}

/** tweet styles **/
.profile-pic {
    height: 50px;
    width:50px;
    border-radius: 2em !important;
}
.twitter-name {
    font-size: 1.2em;
}
.twitter-handle {
    font-size: 0.9em;
}

.hide_by_search {
    display: none !important;
}
.hide_by_entity {
    display: none !important;
}
.hide {
    display: none !important;
}
/** ** **/

#options-button {
    width: 100%;
}

/** Options Menu **/
#options-menu {
    width: auto;
    bottom: 0;

    border-left: 4px solid #78909c;
    border-right: 4px solid #78909c;
    border-radius: 0 !important;
}

#inclement-active {
    height: 100%;
    width: auto;

    background-color: #76ff03;
    border: 1px solid #76ff03;
}

/* Toggle Buttons */
.empty {
    background-color: #fff !important;
}

#inclement-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #76ff03;
}
#inclement-box {
    background-color: #76ff03;
    border: 1px solid #76ff03;
    width: 50px;
}

#rain-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #ff9800;
}
#rain-box {
    background-color: #ff9800;
    border: 1px solid #ff9800;
    width: 50px;
}

#snow-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #2962ff;
}
#snow-box {
    background-color: #2962ff;
    border: 1px solid #2962ff;
    width: 50px;
}

#hail-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #9c27b0;
}
#hail-box {
    background-color: #9c27b0;
    border: 1px solid #9c27b0;
    width: 50px;
}

#wind-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #ffff00;
}
#wind-box {
    background-color: #ffff00;
    border: 1px solid #ffff00;
    width: 50px;
}

#ice-toggle {
    background-color: white;
    color: black !important;

    border: 1px solid #18ffff;
}
#ice-box {
    background-color: #18ffff;
    border: 1px solid #18ffff;
    width: 50px;
}
/* * */
/** ** **/
/*** *** ***/


/*** map styles ***/
#map {
    height: 100vh;
    overflow: hidden;
}

/** Search Styles **/
#search-bar.input-group.md-form.form-sm .left {
    border-radius: 2px 0 0 2px;
}
#search-bar.input-group.md-form.form-sm .mid {
    border-radius: 0;
}
/** Inputs **/
#search-bar.input-group.md-form.form-sm {
    width: auto;
}
#search-bar.input-group.md-form.form-sm input {
    background-color: #fff;
    border: 1px solid #78909c;
}
#search-bar.input-group.md-form.form-sm input:focus.blue-border  {
    border: 1px solid #90caf9;
    box-shadow: none;
}
/** ** **/

/** Buttons **/
#search-bar.input-group.md-form.form-sm .btn-outline-blue-grey {
    background-color: #fff !important;
    box-shadow: none !important;
}
.input-group-btn .dropdown-menu .active {
    background-color: #78909c;
}

/* State Button */
.input-group-btn .dropdown-menu .dropdown-item:active {
    background-color: #b0bec5;
}
/* * */

#search-button {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}


/** ** **/

#legend {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
}

#legend > .list-group-item {
    padding: 0;
    border-right: 0 solid grey !important;
}

#inclement-map-key {
     border-left: 6px solid #76ff03;
 }
#rain-map-key {
    border-left: 6px solid #ff9800;
}
#snow-map-key {
    border-left: 6px solid #2962ff;
}
#hail-map-key {
    border-left: 6px solid #9c27b0;
}
#wind-map-key {
    border-left: 6px solid #ffff00;
}
#ice-map-key {
    border-left: 6px solid #18ffff;
}
/***    ***/